.row
{
    display: flex;
    justify-content: space-between;    
    background-color: gray;
    padding: 2rem;
}

.col, .col2, .col3
{
    flex: 1;
    background-color: blanchedalmond;
    border: 1px solid black;
    color: black;
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
}

.col2
{
    flex: 2;
}

.col3
{
    flex: 3;
}